In [1]:
# Start by importing packages.
import pandas as pd # For reading various file types, data analysis.
import numpy as np # For creating and manipulating arrays.
import matplotlib.pyplot as plt # 2D plotting library for data visualisation.
import seaborn as sns # Built on matplotlib, provides further options for data visualisation.
from bs4 import BeautifulSoup as bs
import requests

In [2]:
df_ratings = pd.read_csv(r"C:\Users\User\Documents\Jupyter Notebooks\Kaggle\all_games.csv")
# Imported csv file sourced from Kaggle.com.
# This data set contains information about games released from 1995-2021, scraped from Metacritic.

# Data Overview

In [3]:
df_ratings.info()
# 18800 entries, 6 columns.
# 'release_date' Dtype is object.
# 'user_review' Dtype is object, unlike 'meta_score' which is integer.
# There are some null values under the 'summary' column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB

In [4]:
df_ratings.head() # Quick look at the data.

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [5]:
df_ratings.tail()

,name,platform,release_date,summary,meta_score,user_review
18795,Fast & Furious: Showdown,Xbox 360,"May 21, 2013",Fast & Furious: Showdown takes some of the fra...,22,1.3
18796,Drake of the 99 Dragons,Xbox,"November 3, 2003",Drake is out for revenge in a supernatural Hon...,22,1.7
18797,Afro Samurai 2: Revenge of Kuma Volume One,PlayStation 4,"September 22, 2015","Head out on a journey of redemption, driven by...",21,2.9
18798,Infestation: Survivor Stories (The War Z),PC,"October 15, 2012","(Formerly known as ""The War Z"") It has been 5 ...",20,1.7
18799,Leisure Suit Larry: Box Office Bust,PC,"March 31, 2009",The Leisure Suit Larry: Box Office Bust video ...,20,2.0

In [6]:
print('Downloading started')
domain = 'https://www.kaggle.com/'
url = 'https://www.kaggle.com/datasets/holmjason2/videogamedata/download?datasetVersionNumber=2'
filetype = '.zip'

def get_soup(url):
    return bs(requests.get(url).text, 'html.parser')

for link in get_soup(url).find_all('a'):
    file_link = link.get('href')
    if filetype in file_link:
        print(file_link)
        with open(link.text, 'wb') as file:
            response = requests.get(domain + file_link)
            file.write(response.content)
print('File downloaded')

# Web scraping relevant data set from Kaggle.com.
# This data set contains information about games sales from 1977-2020, scraped from Metacritic.

Downloading started
File downloaded

In [7]:
# Unzip and load the next .csv data set.
df_sales = pd.read_csv(r'C:\Users\User\Downloads\game_sales_data.csv')

In [8]:
df_sales.info()
# 19600 entries, 9 columns. More than 'df_ratings', though might not all be relevant.
# Large number of null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19600 entries, 0 to 19599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           19600 non-null  int64
 1   Name           19600 non-null  object
 2   Platform       19600 non-null  object
 3   Publisher      19600 non-null  object
 4   Developer      19598 non-null  object
 5   Critic_Score   9969 non-null   float64
 6   User_Score     2223 non-null   float64
 7   Total_Shipped  19600 non-null  float64
 8   Year           19600 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 1.3+ MB

In [9]:
df_sales.head() 
# First glance tells us that the 'year' column is less specific than the 'release_date' column in 'df_ratings'.
# The platform column appears to be inconsistent with that of 'df_ratings'.
# 'Critic_Score' and 'User_Score' here are the same as 'meta_score' and 'user_review' in 'df_ratings'.
# As 'df_ratings' covers data up to 2021, we can disregard the 'Critic_Score' and 'User_Score' columns as they 
# will no longer be up to date.

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [10]:
df_sales.tail()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
19595,19594,FirePower for Microsoft Combat Flight Simulator 3,PC,GMX Media,Shockwave Productions,NaN,NaN,0.01,2004
19596,19595,Tom Clancy's Splinter Cell,PC,Ubisoft,Ubisoft,9.4,NaN,0.01,2003
19597,19596,Ashita no Joe 2: The Anime Super Remix,PS2,Capcom,Capcom,NaN,NaN,0.01,2002
19598,19597,Tokyo Yamanote Boys for V: Main Disc,PSV,Rejet,Rejet,NaN,NaN,0.01,2017
19599,19598,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,GungHo,GungHo Works,NaN,NaN,0.01,2009

# Cleaning and Validating

In [11]:
df_ratings.duplicated().sum() # Checking for duplicate values, there are none.

0

In [12]:
df_ratings.isnull().sum() # Checking for null values.

name              0
platform          0
release_date      0
summary         114
meta_score        0
user_review       0
dtype: int64

In [13]:
for column in df_ratings.columns:
    percentage = df_ratings[column].isnull().mean()
    print(f'{column}: {round(percentage*100,2)}%')
# 0.61% of 'summary' values are missing.

name: 0.0%
platform: 0.0%
release_date: 0.0%
summary: 0.61%
meta_score: 0.0%
user_review: 0.0%

In [14]:
df_ratings['summary'].fillna('Unavailable', inplace=True) 
# Missing amount is negligible, will fill in with 'Unavailable'.

In [15]:
df_ratings.isnull().sum() # Checking for any remaining null values.

name            0
platform        0
release_date    0
summary         0
meta_score      0
user_review     0
dtype: int64

In [16]:
df_ratings['user_review'].value_counts()
# User reviews are typically integer or float values on metacritic, searching for string value.

tbd    1365
7.7     727
7.8     701
7.5     682
7.6     673
       ...
1.0       2
0.2       1
0.9       1
0.7       1
9.4       1
Name: user_review, Length: 94, dtype: int64

In [17]:
df_ratings['user_review'].value_counts(normalize=True) * 100
# 'tbd', which is essentially a null value, accounts for 7.26% of 'user_review'.

tbd    7.260638
7.7    3.867021
7.8    3.728723
7.5    3.627660
7.6    3.579787
         ...
1.0    0.010638
0.2    0.005319
0.9    0.005319
0.7    0.005319
9.4    0.005319
Name: user_review, Length: 94, dtype: float64

In [18]:
df_ratings = df_ratings.drop(df_ratings[df_ratings['user_review'] == 'tbd'].index)
# Although 7.26% may be considered quite a large amount of data to drop, it is acceptable for the purpose of this analysis.
# Games that were not popular enough to get a public review of any measure on Metacritic will not be considered relevant.

In [19]:
df_ratings[['user_review']] = df_ratings[['user_review']].apply(pd.to_numeric)
# Converted 'user_review' data type to float so that it may be used more effectively later in graphing.

In [20]:
df_ratings['release_date'] = pd.to_datetime(df_ratings['release_date'])
# Converted 'release_date' data type to DateTime for later use in graphing.

In [21]:
df_ratings.info()
# Checking that the data types were correctly converted, and that 
# there are no null values after dropping 'tbd' from 'user_review'.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17435 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          17435 non-null  object
 1   platform      17435 non-null  object
 2   release_date  17435 non-null  datetime64[ns]
 3   summary       17435 non-null  object
 4   meta_score    17435 non-null  int64
 5   user_review   17435 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 953.5+ KB

In [22]:
# On to 'df_sales'.
df_sales.duplicated().sum()

0

In [23]:
df_sales.isnull().sum()
# As previously stated, the score columns are out of date. They are irrelevant and will be dropped.
# Missing 'Developer' values are negligible.

Rank                 0
Name                 0
Platform             0
Publisher            0
Developer            2
Critic_Score      9631
User_Score       17377
Total_Shipped        0
Year                 0
dtype: int64

In [24]:
df_sales['Developer'].fillna('Unavailable', inplace=True)
# Fill in missing values.

In [25]:
df_sales = df_sales.drop(columns=['Critic_Score', 'User_Score'])
# Drop irrelevant columns.

In [26]:
df_sales['Year'] = pd.to_datetime(df_sales['Year'])

In [27]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19600 entries, 0 to 19599
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           19600 non-null  int64
 1   Name           19600 non-null  object
 2   Platform       19600 non-null  object
 3   Publisher      19600 non-null  object
 4   Developer      19600 non-null  object
 5   Total_Shipped  19600 non-null  float64
 6   Year           19600 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.0+ MB

In [28]:
df_sales.rename(columns={'Rank':'rank', 'Name':'name', 'Platform':'platform', 'Publisher':'publisher', 'Developer':'developer',\
                         'Total_Shipped':'total_shipped', 'Year':'release_date'}, inplace=True)
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19600 entries, 0 to 19599
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           19600 non-null  int64
 1   name           19600 non-null  object
 2   platform       19600 non-null  object
 3   publisher      19600 non-null  object
 4   developer      19600 non-null  object
 5   total_shipped  19600 non-null  float64
 6   release_date   19600 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.0+ MB

# Exploratory Data Analysis

In [29]:
df_ratings['platform'].value_counts()

 PC                  4660
 PlayStation 4       1950
 Xbox 360            1547
 PlayStation 2       1311
 Switch              1216
 PlayStation 3       1208
 Xbox One            1089
 Xbox                 686
 DS                   599
 Wii                  597
 PSP                  464
 GameCube             413
 3DS                  378
 Game Boy Advance     349
 PlayStation Vita     251
 Wii U                181
 PlayStation          166
 Dreamcast            119
 PlayStation 5        110
 Nintendo 64           71
 Xbox Series X         65
 Stadia                 5
Name: platform, dtype: int64

In [30]:
df_ratings['platform'] = df_ratings['platform'].replace({'PlayStation 5': 'Sony PlayStation 5', 'PlayStation 4': 'Sony PlayStation 4', \
                                         'PlayStation 3': 'Sony PlayStation 3', 'PlayStation 2': 'Sony PlayStation 2', \
                                        'PlayStation': 'Sony PlayStation', 'PSP': 'Sony PSP', 'Switch': 'Nintendo Switch', \
                                         'DS': 'Nintendo DS', 'Wii': 'Nintendo Wii', 'GameCube': 'Nintendo Gamecube', \
                                        '3DS': 'Nintendo 3DS', 'Game Boy Advance': 'Nintendo Game Boy Advance', \
                                         'Wii U': 'Nintendo Wii U', 'Xbox 360': 'Microsoft Xbox 360', \
                                         'Xbox One': 'Microsoft Xbox One', 'Xbox': 'Microsoft Xbox', \
                                         'Xbox Series X': 'Microsoft Xbox Series X', 'Dreamcast': 'Sega Dreamcast', \
                                        'Stadia': 'Google Stadia'})